In [ ]:
import pandas as pd
from pandas.api.types import CategoricalDtype

In [ ]:
!gdown --id 1REm5jSxoPysPZ7AmNpxu-pyWsLW9R6xN
!gdown --id 1rDg2TanOEW5gk3yOP4bCZWEiXz_hxUNO

Downloading...
From: https://drive.google.com/uc?id=1REm5jSxoPysPZ7AmNpxu-pyWsLW9R6xN
To: /content/Pahamify Data - transaction_transaction.csv
100% 56.7k/56.7k [00:00<00:00, 28.3MB/s]
Downloading...
From: https://drive.google.com/uc?id=1rDg2TanOEW5gk3yOP4bCZWEiXz_hxUNO
To: /content/Pahamify Data - user_data_users.csv
100% 9.71k/9.71k [00:00<00:00, 15.7MB/s]

In [ ]:
df = pd.read_csv('Pahamify Data - transaction_transaction.csv')
df.head()

                    UniqueTransactionId  ...                       UniquePackageId
0  00700f25-2ab5-4d37-b849-7407d44606cf  ...  f623443a-d9cf-4302-97da-d29fd2696997
1  0075d375-171b-46c3-ba05-c7b2425c0e61  ...  37695149-ebaf-4c88-8766-5470860be535
2  0140d996-9e7c-4740-b6fc-800f3ae6ea59  ...  f623443a-d9cf-4302-97da-d29fd2696997
3  01f6fbeb-7657-4877-904f-27a779907463  ...  9e7135ca-753b-4e5b-bff1-c27d45d1fe85
4  027e7b8a-5d18-4d66-9d5f-abe16123d7b4  ...  37695149-ebaf-4c88-8766-5470860be535

[5 rows x 11 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 319 entries, 0 to 318
Data columns (total 11 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   UniqueTransactionId            319 non-null    object
 1   UniqueOrderId                  319 non-null    int64
 2   TransactionPlaceStatus         319 non-null    object
 3   InitiatingOrderTime            319 non-null    object
 4   OrderPlacedTime                134 non-null    object
 5   CompletedOrderTransactionDate  135 non-null    object
 6   TransactionStatus              319 non-null    object
 7   UserId                         319 non-null    int64
 8   OrderCreatedDate               319 non-null    object
 9   GrossPrice                     319 non-null    int64
 10  UniquePackageId                319 non-null    object
dtypes: int64(3), object(8)
memory usage: 27.5+ KB

In [ ]:
df1 = df[df['TransactionStatus'] == "settlement"]
df1

                      UniqueTransactionId  ...                       UniquePackageId
3    01f6fbeb-7657-4877-904f-27a779907463  ...  9e7135ca-753b-4e5b-bff1-c27d45d1fe85
7    06527da1-0cf0-49c9-8c5f-888e6f4d4aee  ...  f623443a-d9cf-4302-97da-d29fd2696997
9    07308d5a-bb15-4a82-8ba8-a1f0ad342e0e  ...  43827957-7c98-436d-9a9b-2eb47096ef67
11   07ee9ce7-9a2c-4a8f-95a6-eb82e4bc0aa8  ...  9e7135ca-753b-4e5b-bff1-c27d45d1fe85
17   0b34bf3c-6859-4e5d-be6b-ac1d39afbda6  ...  f623443a-d9cf-4302-97da-d29fd2696997
..                                    ...  ...                                   ...
310  f8e1f57a-3196-49ca-9aa3-b476c4572a6f  ...  9e7135ca-753b-4e5b-bff1-c27d45d1fe85
313  fb0f63b2-9c37-409a-9a7c-3b8419939eba  ...  7742bfa4-099d-46d5-9328-4b679a677c3b
314  fb914d5b-1e47-4013-877e-7d009151234a  ...  9e7135ca-753b-4e5b-bff1-c27d45d1fe85
315  fcab95bb-e157-4185-aa8c-cef0794df0ae  ...  65f46971-e2c1-4ae9-b52e-4b88de5d5e8e
318  ff5bf355-6b60-4127-a204-ebd49871e75f  ...  9e7135ca-753b-4e5b-bff1-c27d45d1fe85

[115 rows x 11 columns]

In [ ]:
df1 = df1[["CompletedOrderTransactionDate", "GrossPrice"]]
df1['ExtractDate'] = df1['CompletedOrderTransactionDate'].str.extract(r'(.*-..)')
df1['Month'] = df1['ExtractDate']
df1['Month'] = df1['Month'].str.replace(r'[0-9]{4}-*', '', regex=True)
df1['Month'] = df1['Month'].str.replace(r'-[0-9][0-9]', '', regex=True)
df1['Month'] = df1['Month'].map({'07': 'Juli 2019', '08': 'Agustus 2019', '09': 'September 2019', '10': 'Oktober 2019',
                                 '11': 'November 2019', '12': 'Desember 2019', '01': 'Januari 2020'})
cat_month = CategoricalDtype(['Juli 2019', 'Agustus 2019', 'September 2019', 'Oktober 2019', 'November 2019', 'Desember 2019', 'Januari 2020'], 
    ordered=True)
df1['Month'] = df1['Month'].astype(cat_month)
df1.sort_values(by=['ExtractDate'], inplace = True, ascending = True)
df1.drop(columns='CompletedOrderTransactionDate', axis = 1, inplace=True)
df1 = df1.groupby(['Month'], as_index=False).agg({'GrossPrice': ['sum']})
df1.columns = ['Month', 'Pendapatan']
df1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

            Month  Pendapatan
0       Juli 2019       90000
1    Agustus 2019       50000
2  September 2019     1280002
3    Oktober 2019     2545000
4   November 2019     3405000
5   Desember 2019    10965000
6    Januari 2020     8330000

In [ ]:
df1.to_csv('MRR.csv', index = False)

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7 entries, 0 to 6
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Month       7 non-null      category
 1   Pendapatan  7 non-null      int64
dtypes: category(1), int64(1)
memory usage: 495.0 bytes

In [ ]:
data = pd.read_csv('Pahamify Data - user_data_users.csv')
data.head()

   UniqueId                      Email  ... confirmationEmail     RegistrationDate
0         1  usertest01@mailinator.com  ...                 0  2018-05-07 22:52:03
1         2  usertest02@mailinator.com  ...                 0  2018-03-17 14:57:38
2         3    usertest03@pahamify.com  ...                 1  2018-03-17 14:57:38
3         4  usertest04@mailinator.com  ...                 0  2018-03-17 14:57:38
4         5  usertest05@mailinator.com  ...                 0  2018-03-17 14:57:38

[5 rows x 5 columns]

In [ ]:
data['ExtractDate'] = data['RegistrationDate'].str.extract(r'(.*-..)')
data['ExtractDate'] = pd.to_datetime(data['ExtractDate'])
data.sort_values(by=['ExtractDate'], inplace = True, ascending = True)
data.head()

   UniqueId                      Email  ...     RegistrationDate  ExtractDate
1         2  usertest02@mailinator.com  ...  2018-03-17 14:57:38   2018-03-17
2         3    usertest03@pahamify.com  ...  2018-03-17 14:57:38   2018-03-17
3         4  usertest04@mailinator.com  ...  2018-03-17 14:57:38   2018-03-17
4         5  usertest05@mailinator.com  ...  2018-03-17 14:57:38   2018-03-17
5         6  usertest06@mailinator.com  ...  2018-03-17 14:57:38   2018-03-17

[5 rows x 6 columns]

In [ ]:
data = data.groupby(['ExtractDate'], as_index=False).agg({'Email': ['count']})
data.columns = ['Date', 'Registered User']
data['Total User'] = data['Registered User'].cumsum(axis = 0)
data

         Date  Registered User  Total User
0  2018-03-17                6           6
1  2018-05-07                1           7
2  2018-05-12                2           9
3  2018-05-13                1          10
4  2018-05-25                1          11
..        ...              ...         ...
69 2019-12-05                1         148
70 2020-01-03                3         151
71 2020-01-06                1         152
72 2020-01-09                1         153
73 2020-01-13                1         154

[74 rows x 3 columns]

In [ ]:
data.to_csv('total user.csv', index = False)